.imageLogo {
  max-height: 50px;
  margin-left: 20px;
  position: relative;
  top: -9px;
}
.sb {
  display: flex;
  justify-content: space-between;
}
.b500 {
  font-weight: 500;
}

.leftStatBlock {
  display: block;
  text-align: left;
}

.table.repairs-orders tbody tr {
  &:nth-of-type(odd) {
    // border-bottom: 2px #afafaf solid;
    border-top: 2px solid #dee2e6;
  }
  &.success {
    background-color: rgb(83 195 88 / 22%);

    &:nth-of-type(odd) {
      border-top: 2px #4caf50 solid;
    }
  }
  &.second {
    background-color: rgba(0, 0, 0, 0.05);

    &:nth-of-type(odd) {
      border-top: 2px #afafaf solid;
    }
  }
  &.warning {
    background-color: rgba(0, 0, 0, 0.05);

    &:nth-of-type(odd) {
      border-top: 2px #afafaf solid;
    }
  }
  &:nth-of-type(even) {
    & td {
      border-top-width: 0px;
      text-align: left;
    }
  }
}

.sizesSelBlock {
  width: 161px;
  margin: 10px 0;
  & .selectCont {
    margin: 0 7px;
    max-width: 70;
    display: inline-block;
  }
}

.filterControll {
  position: relative;
  & .loadingSpin {
    position: absolute;
    right: 10px;
    top: 12px;
  }
}

.w500 {
  font-weight: 500;
}

.deleteLink {
  margin-left: 9px;
  color: #f44336;
  cursor: pointer;
  font-size: 13px;
}

.loadingBlock {
  position: relative;
  & .nice-dates-popover {
    display: none !important;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff8c;
  }
}

.addNewString {
  position: absolute;
  left: 53px;
  bottom: 34px;
}
.relative {
  position: relative;
}

// .table tbody tr:nth-of-type(even) td {
//   border-top-width: 0px;
//   & .
// }
// .success {
// }
